body
  overscroll-behavior: contain
.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 10px
.static-page-wrapper
  padding: 60px 90px
  user-select: text

@media (max-width: 1023px)
  .static-page-wrapper
    padding: 0
  .fullscreen
    overflow-y: auto
